/* Setting and styling the page background */
body {
  background-image: url('../assets/projects-bg.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: black;
  font-family: Arial, sans-serif;
  color: white;
  overflow-y: scroll; /* Enable vertical scrolling */
}

/* Main tag styling */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-top: 50px;
  height: 100%;
}

header {
  border-bottom: 2px solid aqua;
  padding: 20px 0;
}

nav {
  text-align: center;
}

.nav-link {
  font-size: 24px;
  color: aqua;
  margin: 0 10px;
  text-decoration: none;
}

.nav-link:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.welcome-section {
  padding: 100px 0;
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: center;
  padding: 0 20px;
  
}


.project-preview {
  border: 2px solid aqua;
  padding: 20px;
  margin-bottom: 20px;
  position: center;

}

.project-preview:hover {
  border-color: lightblue;
}

/* Add more styles for project previews, gifs, etc. */
